<div>
      <!-- JAVASCRIPT -->
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/simplebar/simplebar.min.js"></script>
        <script src="~/lib/node-waves/waves.min.js"></script>
        <script src="~/lib/feather-icons/feather.min.js"></script>
        <script src="~/js/pages/plugins/lord-icon-2.1.0.js"></script>
        <script src="~/js/plugins.js"></script>

</div>